#crystal1 {
    height: 110px;
    width: auto;
}

#crystal2 {
    height: 110px;
    width: auto;
}

#crystal3 {
    height: 110px;
    width: auto;
}

#crystal4 {
    height: 110px;
    width: auto;
}