body {
    background-color: mintcream;
    background-size: 100%; 
}

h1 {
    font-family: 'Barriecito', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

#instructions {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 40%; 
}

p {
    font-family: 'Crete Round', serif!important;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 45px;
}

#button {
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 90px;
}

#message {
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    padding-top: 20px;
}

#secondcolumn {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 15px;
    width: 35%;
}

#stats {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    width: 25%;
    font-size: 20px;
    font-family: 'Crete Round', serif!important;
    line-height: 50px;
}


#crystals {
    text-align: center;
}

.crystal {
    width: 22%;
    height: auto;
    background-color: white;
}

